<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KnockOutAjaxDemo</display-name>
  <welcome-file-list>
    <welcome-file>knockout_json_ajax.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoadDataServlet</servlet-name>
    <servlet-class>LoadDataServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>SaveDataServlet</servlet-name>
  <servlet-class>SaveDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDataServlet</servlet-name>
    <url-pattern>/LoadDataServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>SaveDataServlet</servlet-name>
  <url-pattern>/SaveDataServlet</url-pattern>
  </servlet-mapping>
  
</web-app>